body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 15pt;
  user-select: none;
  background: url('assets/images/background.jpg');
  background-size: cover;
  object-fit: cover;
}

.wrong-moves {
  font-family: sans-serif;
  color: #ccc;
  font-size: 17px;
}

#container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#game-info {
  padding: 8px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, .09);
  backdrop-filter: blur(1px);
}

#timer {
  font-weight: 700;
  color: #ccc;
  font-family: sans-serif;
}

.tile {
  height: 55px;
  width: 55px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 2px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-radius: 1px;
  color: #fff;
}

#start-dialog {
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url('assets/images/background.jpg');
  background-size: cover;
  
}

#start-dialog h3 {
  font-family: sans-serif;
  color: #42445A;
  font-size: 30px;
}

#start-dialog hr {
  height: 1px;
  border: 0;
  background: #fff;
}

#start-dialog select {
  width: 100%;
  padding: 10px;
  border: 1px solid #42445A;
  outline: none;
  color: #42445A;
  background: #fff;
}

#start-dialog p {
  font-family: sans-serif;
  font-size: 16px;
  color: #42445A;
}

#start-game-btn {
  width: 100%;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 30px;
  padding: 10px;
  outline: none;
  border: 0;
  color: #fff;
  background: #42445A;
}

#start-game-btn:active {
  opacity: .6;
}

.hide {
  visibility: hidden;
}

.tile.hidden {
  background: #444;
  color: transparent;
  cursor: pointer;
}

.tile.correct {
  background: #4caf50;
  color: white;
  pointer-events: none;
  transform: scale(0);
}

#welcome-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url("/assets/images/background.jpg");
  object-fit: cover;
  text-align: center;
  z-index: 1;
  background-size: cover;
}

#welcome-screen h3 {
  font-weight: 800;
  font-size: 40px;
  color: #2a8d30;
  font-family: casual;
  letter-spacing: 5px;
  text-shadow: 0px 1px #ccc;
}

#welcome-screen h2 {
  color: #ccc;
  font-weight: 800;
  font-family: casual;
  letter-spacing: 5px;
  text-shadow: 0px 1px #2a8d30;
}

#loading-bar {
  margin: 200px auto;
}

#loading-bar p {
  font-family: sans-serif;
  color: #ccc;
  letter-spacing: 3px;
}

#quit {
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

#quit:active {
  opacity: .6;
}

#levels-container {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.btn-level {
  width: 120px;
  height: 120px;
  color: #fff;
  font-size: 20px;
  border: 0;
  text-align: center;
  border-radius: 10px;
  font-family: casual;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .4);
  font-weight: 700;
}

.locked {
  background-color: #555;
  cursor: not-allowed;
}

.unlocked {
  background-color: #2a8d30;
  color: white;
}

.level:active {
  background: #42445A;
  color: #fff;
}

.diamonds {
  font-family: sans-serif;
  color: #ccc;
  font-size: 20px;
  font-weight: 600;
}

.diamonds-levels {
  padding: 10px;
}

#show-game-info {
  padding: 15px;
  border: 0;
  width: 200px;
  border-radius: 5px;
  user-select: none;
}

#show-game-info h3 {
  color: #42445A;
  text-align: center;
  font-family: sans-serif;
}

#show-game-info p {
  font-size: 17px;
  color: #42445A;
  text-align: center;
  font-family: sans-serif;
}

#display-score {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #42445A;
  font-family: sans-serif;
}

#show-game-info .buttons {
  width: 85%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#show-game-info .buttons button {
  height: 50px;
  width: 50px;
  border: 1px solid #42445A;
  color: #42445A;
  padding: 10px;
  outline: none;
  font-family: sans-serif;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#show-game-info .buttons button:active {
  background: #ccc;
}

.other {
  visibility: hidden;
}

#not-enough-coins {
  border: 0;
  padding: 20px;
  height: 150px;
  width: 60%;
  border-radius: 5px;
}

#not-enough-coins div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#not-enough-coins h3 {
  color: #42445A;
  font-size: 18px;
}

#not-enough-coins button {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #fff;
  background: #555;
  border-radius: 3px;
}

#not-enough-coins button:active {
  opacity: .6;
}